:root {
  --basic-text-colour: #757575;
  --secondary-text-colour: #212121;
  --logo-text-color: #000000;
  --address-text-colour: rgba(255, 255, 255, 0.6);
  --accent-colour: #2196f3;
  --basic-text-or-background: #ffffff;
  --secondary-background: #2f303a;
  --others-background: #f5f4fa;
  --button-background: #188ce8;
  --svg-fill: #afb1b8;
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --type-roboto: "Roboto", sans-serif;
  --type-raleway: "Raleway", sans-serif;
  --form-border: rgba(33, 33, 33, 0.2);
  --cards-border: #eeeeee;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

.list,
.site-list,
.progect {
  list-style: none;
}

.qualities-list,
.services-list,
.team-img {
  list-style: none;
}

body {
  background-color: var(--basic-text-or-background);
  font-family: var(--type-roboto);
  color: var(--basic-text-colour);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__header {
  color: var(--basic-text-or-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  width: 698px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.qualities-list > .qualities-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-colour);
  text-transform: uppercase;
  margin-top: 30px;
}

.services,
.team {
  color: var(--secondary-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team-img-header {
  color: var(--secondary-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.progect-img-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-colour);
  margin-bottom: 4px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.cont-navul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  color: var(--accent-colour);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: var(--type-raleway);
  text-decoration: none;
}
.logo-studio {
  color: var(--logo-text-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-list:not(:last-child) {
  margin-right: 50px;
}

.site-link {
  color: var(--secondary-text-colour);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
  transition-timing-function: var(--cubic-bezier);
}
.site-link:hover, .site-link:focus {
  color: var(--accent-colour);
}

.site-link-ctyd {
  color: var(--accent-colour);
}

.site-link-port {
  color: var(--accent-colour);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--basic-text-colour);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-colour);
}

.contacts-link-mail {
  fill: var(--basic-text-colour);
}
.contacts-link-mail:hover, .contacts-link-mail:focus {
  fill: var(--accent-colour);
}

.contact-link-icon {
  fill: var(--basic-text-colour);
}
.contact-link-icon:hover, .contact-link-icon:focus {
  fill: var(--accent-colour);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--basic-text-colour);
}
.icon-mail:hover, .icon-mail:focus {
  color: var(--accent-colour);
}

.icon-contact {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.current {
  position: relative;
  display: block;
  color: var(--accent-colour);
}
.current::after {
  content: "";
  position: absolute;
  background: var(--accent-colour);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: 0px;
}

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/people-1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people-1.jpg);
}

.hero__button {
  color: var(--basic-text-or-background);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  border: none;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-background);
}

.gualities-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.qualities-list {
  width: 270px;
  margin-right: 30px;
}
.qualities-list:nth-child(1n) {
  margin: 0;
}

.icons-qualities {
  width: 270px;
  height: 120px;
  background-color: var(--others-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.icon-css {
  width: 70px;
  height: 70px;
  fill: none;
}

.qualities-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-colour);
  text-transform: uppercase;
  margin-top: 30px;
}

.qualities-list-paragraf {
  margin-top: 10px;
}

.section-services {
  padding-top: 0;
}

.services {
  margin-bottom: 50px;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.img-services {
  width: 370px;
  height: 294px;
  margin: auto;
  display: block;
}

.product-thumb {
  position: relative;
}

.img-actions {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.img-action-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--basic-text-or-background);
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0;
}

.section-team {
  background-color: var(--others-background);
}

.team {
  margin-bottom: 50px;
}

.team-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-photo {
  display: block;
}

.team-img {
  margin-right: 30px;
  background: var(--basic-text-or-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-img:last-child {
  margin-right: 0;
}

.team-img-header {
  color: var(--secondary-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-img-paragraf {
  color: var(--basic-text-colour);
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 16px;
}

.container-team {
  padding: 30px 0;
  width: 270px;
  text-align: center;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  list-style: none;
}

.team-list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--svg-fill);
  background-color: var(--basic-text-or-background);
  border-radius: 50%;
  border: none;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.social-link:hover, .social-link:focus {
  fill: var(--basic-text-or-background);
  background-color: var(--accent-colour);
}

.icon-social {
  width: 20px;
  height: 20px;
}
.icon-social:hover, .icon-social:focus {
  fill: var(--basic-text-or-background);
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.customers-list {
  width: 170px;
  margin-right: 30px;
}
.customers-list:nth-child(6) {
  margin-right: 0;
}
.customers-list:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--svg-fill);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.customer-link:hover, .customer-link:focus {
  color: var(--accent-colour);
}

.border {
  border: 1px solid var(--svg-fill);
  border-radius: 4px;
  background-color: var(--basic-text-or-background);
}
.border:hover, .border:focus {
  color: var(--accent-colour);
  border-color: var(--accent-colour);
}

.icons-customers {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  color: var(--accent-colour);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: var(--type-raleway);
  text-decoration: none;
}

.footer-logo-studio {
  color: var(--basic-text-or-background);
}

.footer-address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-colour);
  text-decoration: none;
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--basic-text-or-background);
}

.footer-list {
  list-style: none;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-footer {
  margin-left: 70px;
}

.footer-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--basic-text-or-background);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team-social {
  margin-top: 0;
}

.footer-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--basic-text-or-background);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-colour);
}

.subscribe-footer {
  margin-left: auto;
}

.subscribe-form {
  padding: 0;
}

.subscribe-element {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.subscribe-input {
  margin: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-background);
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.subscribe-input:focus {
  border-color: var(--basic-text-or-background);
}

.subscribe-input::-webkit-input-placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-moz-placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:-ms-input-placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-ms-input-placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  background: var(--accent-colour);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  color: var(--basic-text-or-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  margin-left: 12px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-background);
}

.subscribe-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  opacity: 1;
  -webkit-transition-property: opasity;
  transition-property: opasity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--basic-text-or-background);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--basic-text-or-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-colour);
}

.speaker-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
}
.speaker-form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour);
}

.speaker-form__element {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speaker-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--basic-text-colour);
}

.speaker-form__input {
  margin: 0;
  padding-left: 42px;
  border: none;
  height: 40px;
  width: 100%;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.speaker-form__input:hover, .speaker-form__input:focus {
  border: 1px solid var(--accent-colour);
}
.speaker-form__input:hover + svg, .speaker-form__input:focus + svg {
  fill: var(--accent-colour);
}

.speaker-form__svg {
  position: relative;
  fill: var(--secondary-text-colour);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.speaker-form__icon--characteristic {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-tel {
  width: 13px;
  height: 13px;
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.speaker-form__textarea {
  margin: 0;
  padding: 12px 16px;
  border: none;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.speaker-form__textarea:hover, .speaker-form__textarea:focus {
  border: 1px solid var(--accent-colour);
}
.speaker-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}
.speaker-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}
.speaker-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}
.speaker-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}
.speaker-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}

.conditions {
  padding: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid var(--secondary-text-colour);
  width: 15px;
  height: 15px;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.conditions__check:checked + label .checkbox {
  background: var(--accent-colour);
  border: 2px solid var(--accent-colour);
}

.checkebox__icon {
  width: 11px;
  height: 8px;
}

.conditions__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--basic-text-colour);
}

.checkebox__current {
  position: relative;
  display: block;
  color: var(--accent-colour);
}

.checkebox__link {
  color: var(--accent-colour);
  padding-left: 5px;
  text-decoration: none;
}
.checkebox__link::before {
  content: "";
  position: absolute;
  background: var(--accent-colour);
  border-radius: 2px;
  width: 100%;
  height: 0.5px;
  bottom: 4px;
}

.btm-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btm-form__button {
  color: var(--basic-text-or-background);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.btm-form__button:hover, .btm-form__button:focus {
  background-color: var(--button-background);
}

.categories {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.categories-btn {
  background-color: var(--others-background);
  color: var(--secondary-text-colour);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  display: inline-block;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.categories-btn:hover, .categories-btn:focus {
  background-color: var(--accent-colour);
  color: var(--basic-text-or-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.categories-btn:nth-child(5) {
  margin-right: 0px;
}

.progects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}

.progect {
  background-color: var(--basic-text-or-background);
}

.container-cards {
  border-bottom: 1px solid var(--cards-border);
  border-left: 1px solid var(--cards-border);
  border-right: 1px solid var(--cards-border);
  padding: 20px 24px;
}

.progect-img-paragraf {
  color: var(--basic-text-colour);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.progect-link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}
.progect-link:hover, .progect-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progect-link:hover .product-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb:hover .product-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--basic-text-or-background);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}/*# sourceMappingURL=main.css.map */