:root {
    --basic-text-colour: #757575;
    --secondary-text-colour: #212121;
    --logo-text-color: #000000;
    --address-text-colour: rgba(255, 255, 255, 0.6);
    --accent-colour: #2196f3;
    --basic-text-or-background: #ffffff;
    --secondary-background: #2f303a;
    --others-background: #f5f4fa;
    --button-background: #188ce8;
    --svg-fill: #afb1b8;
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --type-roboto: 'Roboto', sans-serif;
    --type-raleway: 'Raleway', sans-serif;
    --form-border: rgba(33, 33, 33, 0.2);
    --cards-border: #eeeeee;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
}