.customers {
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 30px;

}

.customers-list {
    flex-basis: calc((100% - 30px) / 2);

    
     @media screen and (min-width: 768px){
         flex-basis: calc((100% - 60px) / 3);
    
    }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 150px) / 6);
        
    }
        }

.customer-link {
    height: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--svg-fill);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    

    &:hover,
    &:focus {
        color: var(--accent-colour);
    }


@media screen and (min-width: 768px){
    width: 226px;

}

 @media screen and (min-width: 1200px){
   width: 170px;
 }
}

.border {
    border: 1px solid var(--svg-fill);
    border-radius: 4px;
    background-color: var(--basic-text-or-background);

    &:hover,
    &:focus {
            color: var(--accent-colour);
            border-color: var(--accent-colour);
        }
}

.icons-customers {
    width: 106px;
    height: 60px;
    fill: currentColor;
}