.menu-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

background-color: #ffffff;
padding: 48px 40px;

transform: translateX(100%);
transition: transform 250em;

@media screen and (min-width: 767px) {

        display: none;

    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.burger-button {
width: 40px;
height: 40px;
display: flex;
position: absolute;
align-items: center;
justify-content: center;
background-color: #ffffff;
cursor: pointer;
border: none;
outline: none;
top: 10px;
right: 10px;

@media screen and (min-width: 768px){
    display: none;
}
}

.burger-opensvg {
width: 24px;
height: 16px;
fill: #000000;
}

.burger-closesvg {
width: 18px;
height: 18px;
fill: #212121;

transition-property: fill;
transition-duration: 250ms;
transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        fill: var(--accent-colour);
    }
        @media screen and (min-width: 768px) {
            display: none;
        
        }
}


.mobile-menu{
list-style: none;
}

.mobile-list,
.contact-list {
margin-bottom: 32px;

&:not(:last-child) {
margin-bottom: 32px;
}

}
.mobile-contact {
    list-style: none;
    margin-top: 302px;
}

.mail-link {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: var(--basic-text-colour);
}

.social-mobile {
margin-top: 64px;
display: flex;
justify-content: flex-start;
text-align: center;
align-items: center;
list-style: none;


}

.social-list {
font-weight: 500;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--accent-colour);
-webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: var(--cubic-bezier);
    transition-timing-function: var(--cubic-bezier);

}
.gap{
  width: 22px;
  height: 0px;
  transform: rotate(90deg);
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}
