.section-team {
    background-color: var(--others-background);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1600px){
    padding-top: 94px;
    padding-bottom: 94px;
    }

}

.team {

    margin-bottom: 50px;
}

.team-people {

    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);

    }

    @media screen and (min-width: 1600px){
    flex-basis: calc((100% - 90px) / 4);
    }
  
}

.team-img {
    width: 450px;
    background: var(--basic-text-or-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px){
    width: 354px;

    &:last-child {
            margin-right: 0;
        }
   
        }
    @media screen and (min-width: 1600px) {
    width: 270px;

         }
}

.team-img-header {
    color: var(--secondary-text-colour);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 30px;
}

.team-img-paragraf {
    color: var(--basic-text-colour);
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 16px;
}

.container-team {
text-align: center;
    
}

.team-social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    
}

.team-list {
margin-right: 10px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--svg-fill);
    background-color: var(--basic-text-or-background);
    border-radius: 50%;
    border: none;
    margin-bottom: 30px;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);

       &:hover,
       &:focus {
            fill: var(--basic-text-or-background);
            background-color: var(--accent-colour);
        }
}


.icon-social {
    width: 20px;
    height: 20px;

    &:hover,
    &:focus {
            fill: var(--basic-text-or-background);
        }
}

