.section-team {
    background-color: var(--others-background);
}

.team {
    margin-bottom: 50px;
}

.team-people {
    display: flex;
}

.img-photo {
    display: block;
}

.team-img {
    margin-right: 30px;
    background: var(--basic-text-or-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
            margin-right: 0;
        }
}



.team-img-header {
    color: var(--secondary-text-colour);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-img-paragraf {
    color: var(--basic-text-colour);
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 16px;
}

.container-team {
    padding: 30px 0;
    width: 270px;
    text-align: center;
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    list-style: none;
}

.team-list:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--svg-fill);
    background-color: var(--basic-text-or-background);
    border-radius: 50%;
    border: none;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);

       &:hover,
       &:focus {
            fill: var(--basic-text-or-background);
            background-color: var(--accent-colour);
        }
}


.icon-social {
    width: 20px;
    height: 20px;

    &:hover,
    &:focus {
            fill: var(--basic-text-or-background);
        }
}

